body{
    background-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* メニュー */
.meny{
    display: flex;
    justify-content: center;
    background-color: #9d9d9d;
    height: 100px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.meny-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.meny-nav ul li{
    margin: 10px;
}

.meny-nav ul li button{
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: #000000;
}

.meny-nav ul li button a{
    text-decoration: none;
    color: white;
}

/* ホーム */
.home-all{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.home-left{
    display: block;
    height: 1000px;
    width: 800px;
}

.home-right{
    display: block;
    height: 1000px;
    width: 850px;
}

.user-border, .messege-area, .goal-border, .calendar-area{
    margin: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    margin-left: 20px;
    background-color: white;      
}

.user-border{
    display: flex;
    width: 650px;
}

.goal-border{
    width: 820px;
    height: 120px;
    display: flex;
}

form{
    margin: 0px;
    margin-left: 10px;
}

h3{
    margin: 0px;
    margin-top: 5px;
}

p{
    margin: 7.5px;
}

.now-goal{
    border: 1px solid gray;
    border-radius: 2px;
    margin: 5px;
    width: 530px;
    height: 38px;
    text-align: center;
    background-color: rgb(248, 248, 248);
}

#goal{
    margin: 5px;
    margin-left: 5px;
    width: 250px;
    height: 40px;
}

#goal-reg{
    margin-left: 185px;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 2px;
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(110, 155, 252);
}

#goal-reg:hover{
    background-color: rgb(73, 129,250);
    box-shadow: 2px 1px 1px rgba(0,0,0,0.2);
}

.goal{
    height: 200px;
}

.photo{
    padding: 20px;
}

.user-information th{
    text-align:left;
    font-size: 25px;
}

.user-information td{
    padding-left: 10px;
    font-size: 20px;
}


.messege-area{
    width: 650px; 
    height: 400px;
}

.calendar{
    height: 700px;
}

.calendar-area{
    padding: 10px;
    width: 820px;
    height: 616px;
}

.calendar-table {
    width: 100%;        
    border-collapse: collapse;
    text-align: center;
}

.calendar-table th,
.calendar-table td {
    border: 1px solid #ccc;
    height: 100px;    
    vertical-align: top;
    padding: 8px;
}

.calendar-table .date {
    font-weight: bold;
    font-size: 20px;
}

.calendar-table .today {
    background-color: #fffae6;
    border: 2px solid #f0c040;
}

.event {
    background-color: #e6f7ff;
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px;
    font-size: 14px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.loader .spinner {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255,255,255,0.2);
  border-right: 1.1em solid rgba(255,255,255,0.2);
  border-bottom: 1.1em solid rgba(255,255,255,0.2);
  border-left: 1.1em solid #000000;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

.loader .txt {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(30, 50, 93);
  margin-top: 20px;
}

@keyframes load8 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
