h1{
    text-align: center;
}

.login-form{
    height: 500px;
    width: 700px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: rgb(225, 225, 225);
    border: solid 0px grey;
    border-radius: 3px;
}

.left-login-form{
    margin: 30px;
    padding: 30px;
}

.left-login-form h3{
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 250px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.sent-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="submit"] {
  width: 200px;
  padding: 10px;
  display: block;
  justify-content: center;

  border: none;
  border-radius: 6px;
  background-color: rgb(178, 202, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover{
    background-color: rgb(103, 156, 255);
}

.right-reg{
    margin: 30px;
    padding: 30px;
    padding-right: 0px;
    border-left: solid 1px gray;
    display: block;
    justify-content: center;
    align-items: center;      
}

.right-reg h3{
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.right-reg a{
    display: inline-block;
    padding: 10px;
    margin-top: 100px;
    width: 200px;
    background: rgb(178, 202, 255);
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;

}

.right-reg a:hover{
    background: rgb(103, 156, 255);
}