
body {
  font-family: "メイリオ", sans-serif;
  background: #f5f7fb;
  margin: 0;
}


form {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin: 0 auto; 
}


h1 {
  text-align: center;
  color: #333;
  margin-bottom: 100px;
  font-size: 50px;
  border-left: solid 10px black;
  padding-left: 10px;
}


label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #444;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.send-box {
  display: flex;
  justify-content: space-around; 
  margin-top: 20px;
}


input[type="submit"] {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: rgb(110, 155, 252);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(73, 129, 250);
}

.reg{
  margin-top: 20px;
  text-align: center;
}

.reg a:hover{
  color:red;
}
