
body{
    background-color: #ffffff;
    font-family: "メイリオ", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.all{
    margin: 200px;
}
h1{
    text-align: center;
    font-family: "Palatino Linotype", serif;

}

.login-form{
    height: 500px;
    width: 850px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: rgb(225, 225, 225);
    border: solid 0px grey;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.left-login-form{
    margin: 30px;
    padding: 30px;
}

.left-login-form h2{
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
    border-left: solid 10px black;
    padding-left: 10px;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.sent-box{
    display: flex;
    justify-content: center;
}

input[type="submit"] {
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  display: block;
  justify-content: center;
  border: none;
  border-radius: 6px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover{
    background-color: rgb(117, 117, 117);
}

.right-reg{
    margin: 30px;
    padding: 30px;
    padding-right: 0px;
    border-left: solid 1px gray;
    display: block;
    justify-content: center;
    align-items: center;      
}

.right-reg h2{
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
    border-left: solid 10px black;
    padding-left: 10px;
}

.right-reg p{
    text-align: center;
}

.right-reg a{
    display: inline-block;
    padding: 8px;
    margin-top: 100px;
    width: 300px;
    background: rgb(0, 0, 0);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.right-reg a:hover{
    background-color: rgb(117, 117, 117);
}