body {
    font-family: "Hiragino Sans", "Meiryo", sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}


.container {
    display: flex;
    height: 100vh;
}

.meny{
    width: 200px;
    padding: 20px;
}

.meny-nav{
    display: none;
}

.meny-nav.show{
    display: block;
}


.meny-btn{
    border: none;
    width: 70px;
    height: 70px;
    background-image: url(../img/images.png);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.5);
}

.meny-btn:hover{
    filter:brightness(0.8);
}

.meny-btn:active{
    box-shadow: inset 3px 3px 2px rgba(0,0,0,0.2);
}

.input-panel {
    width: 25%;
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
}

.input-panel h3 {
    text-align: center;
    margin-bottom: 20px;
}

.input-panel label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.input-panel input {
    width: 90%;
    padding: 5px;
    margin-top: 5px;
}

.graph-panel {
    flex-grow: 1;
    padding: 10px;
    padding-left:  20px;
    box-sizing: border-box;
}

.graph-panel h2 {
    margin-top: 0;
    font-size: 30px;
}

.graph {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.graph-panel_1 canvas{
    width: 1145px;

}

.graph-panel_2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.panel-item {
    flex: 1;            
    padding: 5px;
    box-sizing: border-box;
}

.panel-item h2 {
    font-size: 20px;
    margin-top: 0;
}

.panel-item .graph {
    height: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
}

