body {
    font-family: "Hiragino Sans", "Meiryo", sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}


.container {
    display: flex;
    height: 100vh;
}

.meny{
    display: flex;
    justify-content: center;
    background-color: #9d9d9d;
    height: 100px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

.meny-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.meny-nav ul li{
    margin: 10px;
}

.meny-nav ul li button{
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: #000000;
}

.meny-nav ul li button a{
    text-decoration: none;
    color: white;
}

.input-panel {
    width: 25%;
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
}

.input-panel h3 {
    text-align: center;
    margin-bottom: 20px;
}

.input-panel label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.input-panel input {
    width: 90%;
    padding: 5px;
    margin-top: 5px;
}

.graph-panel {
    flex-grow: 1;
    padding: 10px;
    padding-left:  20px;
    box-sizing: border-box;
}

.graph-panel h2 {
    margin-top: 0;
    font-size: 30px;
}

.graph {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.graph-panel_1 canvas{
    width: 1145px;
}

.graph-panel_2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.panel-item {
    flex: 1;            
    padding: 5px;
    box-sizing: border-box;
}

.panel-item h2 {
    font-size: 20px;
    margin-top: 0;
}

.panel-item .graph {
    height: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.graph.injury{
    width: 498px;
}

